nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

table, tr, td
{
    padding: 5px;
    border-bottom: 1px solid black;
    margin: auto;
}

th
{
    background-color: navajowhite;
}

tr:nth-child(even)
{
    background-color: #f2f2f2;
}
